/** Add css rules here for your application. */
body
{
	font-family: "Helvetica Neue", sans-serif;
	font-size: 16pt;
	font-color: #000000;
	margin: 0px;
	padding: 0px;
	color: #ffffff;	
}

a img 
{
	border: none;
}

img
{
	margin: 2px;
	padding: 2px;
}

img.grid
{
	margin: 4px;
	border: 0px;
	width: 100%;
	height: 100%;
}

div.outer
{
	width: 1040px;
}

div.body
{
	color: #fdfdfd;
	width: 1040px;
}

div.title
{
	width: 100%;
	border-bottom: 2px solid #f0f0f0;
	font-size: 40pt;
	font-weight: bold;
	text-align: right;
	font-family: "Helvetica Neue", sans-serif;

}

div.selected_broadcast
{
	float: right;
	width: 400px;
	height: 800px;
	margin: 4px;
	padding: 4px;
	border: 2px solid #f0f0f0;	
	font-size: 20pt;
}

div.map
{
	float: left;
	width: 600px;
	height: 300px;
	margin: 4px;
	padding: 4px;
}

div.broadcast_grid
{
	float: left;
	width: 600px;
	height: 500px;
	margin: 4px;
	padding: 4px;

}

#broadcast_grid 
{
	position: relative;
   	width: 600px;
	height: 500px;
   	margin: auto;
   	overflow: hidden;
}
#container {
    width: 1000px;
    height: 600px;
    margin:0 auto;
    position:relative;
}

#left-container, 
#right-container, 
#center-container {
    height:600px;
    position:absolute;
    top:0;
}

#left-container, #right-container {
    width:200px;
    color:#686c70;
    text-align: left;
    overflow: auto;
    background-color:#fff;
    background-repeat:no-repeat;
    border-bottom:1px solid #ddd;
}

#left-container {
    left:0;
    background-position:center right;
    border-left:1px solid #ddd;
    
}

#right-container {
    right:0;
    background-position:center left;
    border-right:1px solid #ddd;
	display: none;
}


#center-container {
    width:600px;
    left:200px;
    background-color:#1a1a1a;
    color:#ccc;
}

.text {
    margin: 7px;
}

#inner-details {
    font-size:0.8em;
    list-style:none;
    margin:7px;
}



.node {
  color:#fff;
  overflow:hidden;
  cursor:pointer;
/*  
  text-shadow:2px 2px 5px #000;
  -o-text-shadow:2px 2px 5px #000;
  -webkit-text-shadow:2px 2px 5px #000;
  -moz-text-shadow:2px 2px 5px #000;
*/
}


#id-list {
	background-color:#EEEEEE;
	border:1px solid #CCCCCC;
	margin:10px 20px 0 20px;
	padding:5px;
	text-align:left;
	text-indent:2px;
}

#id-list table {
  margin-top:2px;
}

#back {
  margin:10px 40px;
}

